.projects_container {
    display: flex;
    float: left;
    flex-wrap: wrap;
    align-items: stretch;

    width: 100%;

    margin-top: 3em;
}

.project {
    display: grid;
    flex: 2 1 30%;
    overflow: hidden;

    cursor: default;
    box-sizing: border-box;
    margin: 10px;
    background-color: transparent;
    border: 1px transparent #ddd;
    border-radius: 8px;
    text-align: left;

    padding: 0.5em;
    transition: 0.3s;
}

.project_title_icon_link {
    position: relative;
    display: flex;
    align-items: center;
}

.project_title {
    color: #65656d;
    font-weight: 500;
}

.project_links {
    margin-top: 1em;
    font-family: system-ui;
    color: #65656d;
    width: fit-content;
    text-decoration: none;
}

.project_links:hover {
    color: #07c0d5;
}

.project:hover {
    background-color: #e3e0e0;
    transform: scale(1.05);
    transition: 0.3s;
}

.project-background {
    width: 2.5em;
    height: auto;

    margin-right: 1em;
}

.technologies_image_sections {
    /* flex-wrap: wrap; */
}

@media (max-width: 700px) {
    .projects_container {
        width: 100%;
    }

    .project {
        background-color: rgb(226, 225, 225);
        padding: 0.5em;
        width: -webkit-fill-available;
        flex: none;
    }
}
