.main_router {
    position: relative;
    text-align: center;
    justify-content: center;

    display: grid;

    margin: 0;
    padding: 0;

    width: -webkit-fill-available;
    /* height: 150vh; */

    background-color: #fafafa;
    border: 1px solid #f4f4f5;
}

.content_wrapper {
    /* position: fixed; */
    display: grid;

    box-shadow: 0px -20px 20px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 20px;
    margin-top: 100px;

    padding: 2em;
    padding-inline: 5em;
}

@media (max-width: 1100px) {
    .content_wrapper {
        box-shadow: -20px -20px 20px 20px rgba(0, 0, 0, 0.1);
        position: relative;
        display: grid;
        margin-top: 6em;
        padding-inline: 1em;
    }
}
