.main_router {
    position: absolute;
    text-align: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    width: 100vw;
    /* height: 100vh; */

    background-color: black;
}

.main_router {
    background-color: white;
}

.main_router:before,
.main_router:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc((100% - 1200px) / 2);
    background-color: #fafafa;
    border: 1px solid #f4f4f5;
}

.main_router:before {
    left: 0;
    z-index: 1;
}

.main_router:after {
    right: 0;
    z-index: 0;
}


.content_wrapper {
    max-width: 1000px;
    padding-top: 8vh;
    
    margin: auto;

}

@media (max-width: 1100px) {
    .content_wrapper {
        /* margin-top: 20vh; */
        margin-left: 10vw;

        /* background-color: black; */
    }
}