.body_container {
    display: grid;

    margin-top: 8vh;
}

.body_container::before {
    content: '';
    
    margin-bottom: 3vh;

    width: 50vw;
    height: 2px;

    background-color:  rgb(219, 219, 219);

    
}

.timeline_title {
    font-size: 1.5vw;
    font-weight: 500;
    text-align: left;
    color: gray;
}