.header {
    position: relative;
    margin-top: 6vw;

    margin-block-end: 1vw;

    display: flex;
    flex-direction: column;

}

.header_line {
    color: #27272a;

    text-align: left;

    font-family: "Roboto", sans-serif;
    font-weight: 700;

    font-size: calc(1vh + 1.3vw);
    display: flex;

    transition: 0.5s;
}

.summary {
    text-align: left;

    font-size: 0.9vw;
    display: flex;

    margin-bottom: 3vh;
}

.profile_image {
    position: relative;
    z-index: 1;

    width: 12vw;
    height: inherit;

    left: 3em;
    border-radius: 1em;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);

    transform: rotate(10deg);
    transition: 0.5s;
}

.profile_image:hover {
    transform: rotate(0deg);
}

.socials_logo {
    width: 1.8vw;
    transition: 0.5s;

    margin-inline-end: 1em;
    margin-block-end: 1em;
}

.socials_logo:hover {
    width: 2vw;

    background-color: #f5deb3;

    border-radius: 0.5em;
}

.download_button {
    position: relative;
    align-items: center;
    justify-content: center;

    float: left;
    width: 16vw;
    cursor: pointer;
    border-radius: 13px 0 0 0;
    height: 5vh;
    background-color: cornsilk;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.download_button:hover {
    border-color: rgba(0, 0, 0, 0.2);
    background-color: #f5deb3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.download_button a {
    position: relative;
    text-decoration: none;
    font-weight: bold;
    color: #3498db;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-block;
}

.resume_a_tag {
    font-size: calc(10px + 1vw);

}


.download_button a:hover {
    color: #fff;

    background-color: #3498db;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    transform: translateY(-2px) rotate(3deg);
}

.header p,
span {
    position: relative;
    white-space: pre-line;
}

.socials_container {
    position: relative;

    display: flex;

}



@media (max-width: 1100px) {
    .header {
        position: relative;
        margin-top: 2vh;
        margin-left: 0vw;

        width: 100vw;

        display: flex;
        flex-direction: column;

    }
 
    .summary {
        font-size: 3vw;
    }

}


@media (max-width: 1200px) {
    .download_button a {
        font-size: 1.1rem;
    }

}

@media (max-width: 1100px) {
    .profile_image {
        height: calc(11vw);
    }
}

@media (max-width: 992px) {
    .download_button a {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .download_button a {
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .header_line {
        font-size: 2.5vw;
    }

    .socials_logo {
        width: 10vw;
    }
}

@media (max-width: 480px) {

    .socials_logo {
        width: 10vw;
    }
    .header_line {
        font-size: 4vw;
    }
}
