.header {
    position: relative;
    margin-top: 6vw;
    /* padding: 1%; */
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
}

.profile_image {
    height: 30vh;
    width: 18vw;
    
    margin-top: 8vh;
    
    border-radius: 1em;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.2);
    float: right;
    transform: rotate(10deg);
    transition: 0.5s;
}

.profile_image:hover {
    transform: rotate(0deg);
}

.header_line {
    position: absolute;

    color: #27272a;;
    float: left;

    text-align: left;

    white-space: pre-line;

    font-family: "Roboto", sans-serif;
    font-weight: 700;

    font-size: calc(1vh + 1.3vw);
    display: flex;

    /* letter-spacing: 2px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */

    transition: 0.5s;
}

.header_line:hover {
    font-size: calc(1vh + 1.4vw);

}


.socials_container {
    position: absolute;
    bottom: 0vh;
}

.socials_container a {
    text-decoration: none;
}