.home_page {
    /* position: relative; */
    text-align: center;
    justify-content: center;


    /* width: 50vw; */
    /* height: 100%; */

    /* font-size: 1rem; */
    /* font-family: system-ui; */

    display: flex;
    flex-direction: column;


    
}
