.home_page {
    /* position: relative; */
    text-align: center;
    justify-content: center;


    width: 50vw;
    height: 100vh;

    font-size: 1rem;
    font-family: system-ui;

    display: flex;

}
