.home_page {
    /* position: relative; */
    text-align: center;
    justify-content: center;
    /* background-repeat: round; */
    
    left: 110px;
    padding: 0;
  
    width: 50vw;
    height: 100vh;
    
    /* background-color: black; */
    font-size: 1rem;
    font-family: system-ui;

    display: flex;
}
